* {
    text-align: center;
    align-content: center;
}

table {
    width: 100%;
}

th {
    padding: 30px;
}

.ths {
    background-color: lightgray;
    top: 0;
    position: sticky;
    z-index: 5;
}

.times {
    left: 0;
    position: sticky;
    z-index: 3;
}

td {
    padding: 20px 30px;
}

.box .times {
    width: 80px;
    height: 100%;
    background-color: lightgray;
    left: 0;
    position: sticky;
    z-index: 1;
}